<!DOCTYPE html>
<html>
<head>
	{% load staticfiles %}
	<title>Answer[!]</title>
	<link rel="stylesheet" href="{% static "ans_basic.css" %}" type="text/css">
</head>
<body>
<img class="logo-bar" src="{% static "logo_w330.png" %}">
	<p align="center">Use
	<a href="{{ request.build_absolute_uri }}">
	{{ request.build_absolute_uri }}
	</a>
	to Access this page</p>
	<div class="box-holder">
	Question:
		<div class="box-holder">
		{{ post.question }}
		</div>
	Answer:
		<div class="box-holder">
	{% if post.answered %}
		{{ post.answer }}
	{% else %}
		Pending Answer ...:)
	{% endif %}
		</div>
	<a href="{% url 'ask' %}" class="ask-button button" >Ask another one</a>
	</div>
</body>
</html>
