<!DOCTYPE html>
<html>
	{% load staticfiles %}
	<head>
		<title>Ask[?] or Answer[!]</title>
		<link rel="stylesheet" href="{% static "home_basic.css" %}" type="text/css">
	</head>
	<body>
	<h2 class="logo-bar">Ask[?] or Answer[!]</h2>
		<p class="question-holder">
		{% if valid %}
			{{ post.question }}
			<em>--asked on {{post.time_stamp}}</em>
		{% else %}
			All Questions have been answered.
		{% endif %}
		</p>
		<form method="POST" class="form-holder">
			{% csrf_token %}
			{% if valid %}
				<input type="hidden" value="{{ post.id }}" name="q_id">
			{% endif %}
			<textarea name="content" class="content-holder" maxlength="500" placeholder="Answer the question or ask another one!" required></textarea>
			<input type="submit" value="Ask" name="__submit_ask" class="ask-button button">
			<input type="submit" value="Answer" name="__submit_answer" class="ans-button button">
			<span></span>
		</form>
	</body>
</html>
